@fontePrincipal: 'Roboto', sans-serif;
@fonteTitulo: 'Lobster', cursive;
@corClaroTexto: #efefef;
@corEscuroTexto: #212121;
@corFundo: #eb3b5a;
@corBtn: #f7b731;

body {
    background-color: @corFundo;
    font-family: @fontePrincipal;
    color: @corClaroTexto;
}

h1 {
    font-family: @fonteTitulo;
    font-size: 3em;
}

main {
    max-width: 960px;
    width: 1005;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
}

input {
    display: block;
    margin: 16px auto 0;
    font-size: 2em;
    max-width: 120px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: @corClaroTexto;
    border-bottom: 6px solid @corClaroTexto;
    outline: none;
}

button {
    padding: 16px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 16px;
    border-radius: 8px;
    background-color: @corBtn;
    color: @corEscuroTexto;
    font-family: @fontePrincipal;
    border: 2px solid @corEscuroTexto;

    &:hover {
        border: 2px solid @corBtn;
        background-color: transparent;
        color: @corBtn;
    }
}


.resultado {
    padding: 16px;
    margin-top: 120px;
    border: 8px dotted #fff;
    text-align: center;
    display: none;

    span {
        font-weight: bold;
        font-size: 3em;
        display: block;
    }
}

